.ledger-page-component {
    height: calc(100% - 56px);
}
.ledger-page-component .row {
    height: 100%;
    background-color: rgba(26, 117, 117, 0.1);
}
.ledger-page-component .row .navigator {
    padding-left: 0;
    margin-top: 5px;
}

@media only screen and (max-width: 576px) {
    .ledger-page-component .row .navigator {
        padding-right: 0;
    }
}
